
:root {
  --main-purple-background: #8C30F5;
  --main-purple-border: #9938DA;

  --main-white: #FFFFFF;
  --main-text-color: var(--main-purple-background);
  --main-text-common: #1A202C;
  --main-lilac-color: #52506a;

  --main-primary-normal: var(--main-purple-background);
  --main-primary-hover: var(--main-purple-background);
  --main-primary-active: var(--main-purple-background);

  --main-default-normal: var(--main-purple-border);
  --main-default-hover: var(--main-purple-border);
  --main-default-active: var(--main-purple-border);

  --main-background-cell: #D2D9F1;
  --main-background-cell-border: #52506A;

  --main-background-cell-favorites: #D7BDF9;

}

.btn-primary {
  font-family: Manrope;
  font-style: normal;

  color: var(--main-white) !important;
  border-radius: 8px;
  background-color: var(--main-primary-normal);
  border-color: var(--main-primary-normal);

  padding-left: 25px;
  padding-right: 25px;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--main-primary-hover);
  border-color: var(--main-primary-hover);
}
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active:focus,
.btn-primary.active.focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open .dropdown-toggle.btn-primary {
  background-color: var(--main-primary-active);
  border-color: var(--main-primary-active);
  background-image: none;
}
.btn-primary:disabled,
.btn-primary.disabled,
.btn-primary:disabled:focus,
.btn-primary:disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary:disabled:hover,
.btn-primary.disabled:hover {
  background-color: var(--main-primary-active);
  border-color: var(--main-primary-active);
  background-image: none;
}


.btn-default {
  font-family: Manrope;
  font-style: normal;

  color: var(--main-text-color) !important;
  background-color: var(--main-white);
  border: 1px solid var(--main-default-normal);
  box-sizing: border-box;
  border-radius: 8px;

  padding-left: 25px;
  padding-right: 25px;
}
.btn-default:hover,
.btn-default:focus {
  background-color: var(--main-white);
  border-color: var(--main-default-hover);
}
.btn-default:active,
.btn-default.active,
.btn-default:active:focus,
.btn-default:active.focus,
.btn-default.active:focus,
.btn-default.active.focus,
.btn-default:active:hover,
.btn-default.active:hover,
.open .dropdown-toggle.btn-primary {
  background-color: var(--main-white);
  border-color: var(--main-default-active);
  background-image: none;
}
.btn-default:disabled,
.btn-default.disabled,
.btn-default:disabled:focus,
.btn-default:disabled.focus,
.btn-default.disabled:focus,
.btn-default.disabled.focus,
.btn-default:disabled:hover,
.btn-default.disabled:hover {
  color: var(--main-text-color) !important;
  background-color: var(--main-white);
  border-color: var(--main-default-hover);
  background-image: none;
}


.text-xs-center,
.text-justify,
.nav-item {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;

  color: #1A202C;
}

.text-bold-custom {
  font-weight: bold;
  font-size: 29px;
  line-height: 39px;
}

.text-normal-custom {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;

  font-size: 16px;
  line-height: 19px;
}

.form-group {
  margin-bottom: 15px;
}

.container-custom {
  margin-top: 50px;
}

a,
a:focus,
a:hover {
  color: #2F80ED;
}

html, body { height: 100%; }
body { margin: 0; font-family: Manrope, "Helvetica Neue", sans-serif; }


.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 18px !important;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 12px !important;
  border-radius: 10px !important;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100% !important;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: var(--main-purple-background) !important;
}
.mat-accent .mat-slider-thumb {
  height: 30px !important;
  width: 30px !important;
  background-color: white !important;
  border: solid 2px gray !important;
  bottom: -20px !important;
  right: 0px !important;
}
.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: white !important;
}
.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
  background-color: var(--main-purple-background) !important;

  width: 50px !important;
  height: 50px !important;

  top: -62px !important;
  right: -25px !important;
}
.mat-slider-thumb {
  transform: scale(0) !important;
}
.mat-slider-thumb-label-text {
  opacity: 1 !important;
}
