<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <p class="text-xs-center text-bold-custom">{{ title }}</p>
        <form [formGroup]="authForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group" *ngIf="isRegisterPage">
              <p class="text-xs-center text-normal-custom">Имя пользователя</p>
              <input
                formControlName="username"
                placeholder="Username"
                class="form-control form-control-md"
                type="text" />
            </fieldset>
            <fieldset class="form-group">
              <p class="text-xs-center text-normal-custom">Адрес электронной почты</p>
              <input
                formControlName="email"
                placeholder="Email"
                class="form-control form-control-md"
                type="email" />
            </fieldset>
            <fieldset class="form-group">
              <p class="text-xs-center text-normal-custom">Пароль</p>
              <input
                formControlName="password"
                placeholder="********"
                class="form-control form-control-md"
                type="password" />
            </fieldset>
            <fieldset class="form-group" *ngIf="isRegisterPage">
              <p class="text-xs-center text-normal-custom">Повторите пароль</p>
              <input
                formControlName="password_check"
                placeholder="********"
                class="form-control form-control-md"
                type="password" />
            </fieldset>
            <div class="button-center nav-text-custom" *ngIf="isLoginPage">
              <a [routerLink]="['/login']">Забыли пароль?</a>
              <a [routerLink]="['/register']">Еще нет аккаунта?</a>
            </div>
            <br>
            <app-list-errors [form]="authForm" [aliasedForControls]="aliasedForValidationErrors"></app-list-errors>
            <br>
            <div class="button-center">
              <button class="btn btn-md btn-primary" [disabled]="!authForm.valid" type="submit">
                {{ submitButtonName }}
              </button>
            </div>
          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>
