.large-container {
  height: 200px;
  background: var(--main-white) !important;
  z-index: -1;
}

.footer-custom {
  /* Rectangle 10 */
  height: 100px;
  position: fixed;
  left: 0;
  bottom: 0;

  background: var(--main-lilac-color);
}
.container {
  margin-top: 25px;
}
.text-color-special {
  color: var(--main-white) !important;
}
