<div class="advices-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <p class="text-xs-center text-bold-custom" style="margin-bottom: 50px">{{ title }}</p>
      </div>
      <div class="article-rectangle">
        <img class="image-article-title" src="./assets/resources/advices/third-article.jpg" alt="">
        <div class="text-block">
          <p class="text-block-title">
            Как выбрать процессор для игрового компьютера?
          </p>
          <p class="text-block-content">
            Принято считать, что для игр нужен крутой процессор. Но это не так: все зависит от ресурсов,
            которые требует игра. Поэтому, в первую очередь, стоит определиться,
            для каких целей нужен компьютер и какие игры вы предпочитаете.
            Это позволит не переплачивать за ненужные мощности и собрать оптимальный ПК.
            <br>
            Прежде, чем рассказать, как выбрать процессор для игрового компьютера,
            хотим вкратце познакомить вас с самой классификацией CPU.
          </p>
        </div>
      </div>
      <div class="article-rectangle">
        <img class="image-article-title" src="./assets/resources/advices/firtst-article.jpg">
        <div class="text-block">
          <p class="text-block-title">
            Топ 10 видеокарт с оптимальной производительностью до 20000 руб
          </p>
          <p class="text-block-content">
            Выбор видеокарты чаще всего связан с компромиссом. Прежде всего нужно уговорить себя на то,
            что данная модель имеет лучшее соотношение между ценой и производительностью.
            Этот показатель напрямую связан с ценой, ведь большинство пользователей имеет ограниченный бюджет,
            желая взять оптимальный продукт. Сегодня мы с вами рассмотрим 10 видеокарт,
            каждая из которых хороша для своих целей, а главное – полностью соответствует своей стоимости.
          </p>
        </div>
      </div>
      <div class="article-rectangle">
        <img class="image-article-title" src="./assets/resources/advices/second-article.jpg">
        <div class="text-block">
          <p class="text-block-title">
            SSD или HDD?
          </p>
          <p class="text-block-content">
            Один из обязательных этапов сборки ПК — подбор накопителя.
            Здесь встает выбор между жестким и твердотельным диском. HDD или SSD: какой тип лучше?
            Однозначный ответ дать невозможно,
            потому что оба типа накопителей предназначены для разных задач и подойдут под разные сценарии использования.
            <br>
            В этой статье мы подберем накопитель под ваш сценарий использования и разберемся, в чем разница между ними.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
